{% extends "base.html" %}

{% block controls %}
    {% if user %}
      <a class="gray-link" href="/_edit{{history[0].url}}">edit</a>
    {% endif %}
     |
    <a class="gray-link" href="/_history{{history[0].url}}">history</a>
{% endblock %}

{% block content %}
  <table class="history-table">
  {% for h in history %}
    <tr class="rowstyle">
      <td class="date-cell">
        {{ h.created.strftime("%Y/%m/%d") }}
      </td>

      <td class="content-cell">
        {{ h.content | safe }}
      </td>

      <td class="link-cell">
        <a class="gray-link" href={{h.url}}?v={{h.key().id()}}>view</a>
      </td>

      {% if user %}
        <td class="link-cell">
          <a class="gray-link" href=/_edit{{h.url}}?v={{h.key().id()}}>edit</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}